# Compiled Object files
*.slo
*.lo
*.o
*.Po
*.log
autom4te.cache
*.status

Makefile.in
Makefile

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables


# Experimental stuff
junk/